@use './global';


.Undergraduate-Admissions-Profile-Card-Snippet-Alternate-Container{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        // background-color: rgb(157, 255, 239);
        align-items: center;
        justify-content: center;

        
                .Undergraduate-Admissions-Profile-Card-Snippet-Alternate-CardWrapper{
                        position: relative;
                        box-sizing: border-box;
                    .Undergraduate-Admissions-Profile-Card-Snippet-Alternate-Card{
                        height: 26.625em;
                        width: 17.313em;
                        margin: 1em;
                        // background-color: mediumvioletred;
                        background-position: 50% 50%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        position: relative;
                        
                        
                
                        .Undergraduate-Admissions-Profile-Card-Snippet-Alternate-Card-Bottom{
                            background-color: #990000;
                            position: absolute;
                            width: 100%;
                            bottom: 0;
                            height: 11.750em;
                            border-top: 2.25px solid #ffffff;
                            padding: 0.4em 0.6em;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-between;

                            .Undergraduate-Admissions-Profile-Card-Snippet-Alternate-Card-Bottom-Caption{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: flex-start;
                                height: 20em;
                                text-align: center;
                                color: #ffffff;
                                margin-top: 0.5em;
                                    .Undergraduate-Admissions-Profile-Card-Snippet-Alternate-Card-Bottom-Caption-Name{
                                        font-weight: 800;
                                        text-transform: uppercase;
                                    }
                                    .Undergraduate-Admissions-Profile-Card-Snippet-Alternate-Card-Bottom-Caption-Location{
                                        margin-top: 0.75em;
                                        font-size: 0.7em;
                                        font-weight: 500;
                                       
                                        

                                    }
                            }

                            .Undergraduate-Admissions-Profile-Card-Snippet-Alternate-Card-Bottom-Caption-Button{
                                    margin-bottom: 1em;
                                button{
                                    width: 15.375em;
                                    height: 2em;
                                    color: #990000;
                                    font-weight: 900;
                                    background-color: #ffffff;
                                    border:none;
                                    outline: none;
                                    cursor: pointer;

                                    &:hover{
                                        background-color: #f0f0f0;
                                    }
                                    &:active{
                                        background-color: #dfdfdf;
                                    }

                                }
                            }
                        }
                
                    }

                }
    

}


@media only screen and (min-width: 2560px){
    .Undergraduate-Admissions-Profile-Card-Snippet-Alternate-Container{
        padding: 0 20em;
    }
}